
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Task Manager | Team7Waves</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/Assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Assets/plugins/daterangepicker/daterangepicker.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Assets/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Assets/plugins/summernote/summernote-bs4.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="~/Assets/open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">

    <link rel="stylesheet" href="~/Assets/test.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

</head>
<style>
    .content-header {
        padding: 15px;
    }

    .tabel_center {
        border: 1px solid #80808045;
        border-radius: 4px;
        padding: 2em;
        background: #fff;
        margin: 15px;
        margin-top: 0;
    }

    table#example {
        border: 1px solid #8080804d;
        border-radius: 5px;
    }

    .content-wrapper {
        min-height: 55em !important;
    }

    .modal-test {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1040;
        /* Sit on top */
        padding-top: 50px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content-test {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* Modal Body */
    .modal-body-test {
        padding: 2px 16px;
    }

    .btn-primary {
        color: #fff;
        background-color: #E24E46;
        border-color: #E24E46;
        box-shadow: none;
    }

        .btn-primary:hover {
            color: #E24E46;
            background-color: white;
            border-color: #E24E46;
        }

    .card-primary:not(.card-outline) > .card-header {
        background-color: #E24E46;
    }
</style>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light"
             style="background-image: url(/Assets/dist/img/layout.jpg); background-position: left;height: 7.9rem;">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                        <span class="oi oi-grid-three-up"
                              style="color: white;"></span>
                    </a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Index", "ManageUsers") " class="nav-link" style="color: white;">Trang chủ</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link" style="color: white;"></a>
                </li>

            </ul>
            <!--Center navbar links-->
            <ul class="navbar-nav" style="margin: auto;width: 22rem;">
                <li class="nav-item dropdown">
                    <img class="main-logo" src="/Assets/dist/img/Mainlogo.png" alt="" style="width: 15rem;height: 5rem;">
                </li>

            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto" style="margin-left: unset!important;">
                <li class="nav-item dropdown">
                    <div class="logout" style="margin: 0.34rem;padding-top: 0.1em;">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="out" style="color: #c2c7d0;">
                            <span class="oi oi-account-login"></span>&nbsp;Đăng xuất
                        </a>
                    </div>
                </li>
               
                @if (TempData["AlertMessage"] != null)
                {
                    <div id="AlertBox" class="alert @TempData["AlertType"] hide" style="position: absolute;top: 37px;right: 22px;">
                        @TempData["AlertMessage"]
                    </div>
                }
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4"
               style="background-image: url(/Assets/dist/img/layout.jpg); background-position: center;">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="/Assets/dist/img/Teamlogo.png" alt="VLU" class="logo-VLU"
                     style="opacity: .8  ;float: left;line-height: .8;margin-left: .9rem;margin-right: .5rem;margin-top: -3px;max-height: 33px;width: auto;">
                <span class="brand-text font-weight-light">&nbsp;&nbsp;&nbsp;&nbsp;Task Management</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-scrollbar-vertical-hidden os-host-transition">
                <div class="os-resize-observer-host observed">
                    <div class="os-resize-observer" style="left: 0px; right: auto;"></div>
                </div>
                <div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;">
                    <div class="os-resize-observer"></div>
                </div>
                <div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 612px;"></div>
                <div class="os-padding">
                    <div class="os-viewport os-viewport-native-scrollbars-invisible">
                        <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                            <!-- Sidebar user panel (optional) -->
                            <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                                @Html.Partial("_LoginPartial")
                            </div>


                            <!-- Sidebar Menu -->
                            <nav class="mt-2">
                                <ul class="nav nav-pills nav-sidebar flex-column nav-legacy" data-widget="treeview" role="menu"
                                    data-accordion="false">
                                    <!-- Add icons to the links using the .nav-icon class
                                    with font-awesome or any other icon font library -->
                                    <li class="nav-item has-treeview menu-open">
                                    </li>
                                    @*<li class="nav-header">QUẢN LÝ NHIỆM VỤ/MỤC TIÊU</li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <span class="nav-icon oi oi-list"></span>
                                                <p>
                                                    Danh sách
                                                </p>
                                            </a>
                                        </li>
                                        <li class="nav-item has-treeview">
                                            <a href="#" class="nav-link">
                                                <i class="nav-icon fas fa-chart-pie"></i>
                                                <p>
                                                    Thống kê
                                                    <i class="right fas fa-angle-left"></i>
                                                </p>
                                            </a>
                                            <ul class="nav nav-treeview">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="oi oi-bar-chart nav-icon"></span>
                                                        <p>Biểu đồ</p>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="oi oi-clipboard nav-icon"></span>
                                                        <p>Bảng số liệu</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>*@
                                    <li class="nav-header">QUẢN LÝ TÀI KHOẢN</li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "ManageUsers")" class="nav-link">
                                            <span class="nav-icon oi oi-list"></span>
                                            <p>
                                                Danh sách
                                            </p>
                                        </a>
                                    </li>

                                    <li class="nav-header">QUẢN LÝ BỘ PHẬN</li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "Departments")" class="nav-link">
                                            <span class="nav-icon oi oi-list"></span>
                                            <p>
                                                Danh sách
                                            </p>
                                        </a>


                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "UsersOfDepartments")" class="nav-link">
                                            <span class="nav-icon oi oi-list"></span>
                                            <p>
                                                Nhân viên theo bộ phận
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /.sidebar-menu -->
                        </div>
                    </div>
                </div>
                <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
                    <div class="os-scrollbar-track">
                        <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div>
                    </div>
                </div>
                <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-unusable os-scrollbar-auto-hidden">
                    <div class="os-scrollbar-track">
                        <div class="os-scrollbar-handle" style="height: 100%; transform: translate(0px, 0px);"></div>
                    </div>
                </div>
                <div class="os-scrollbar-corner"></div>
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- content wrapper-->
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="tabel_center">

                    @RenderBody()
                    <!-- Content Wrapper. Contains page content -->
                    <!-- /.content -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer"
            style="background-image: url(/Assets/dist/img/layout.jpg); background-position: center; color: white;    line-height: 7.9rem;">
        <strong>Copyright &copy; 2020 <a href="https://7w.vn">7Waves</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 0.0.1
        </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge("uibutton", $.ui.button);
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Assets/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Assets/plugins/sparklines/sparkline.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Assets/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Assets/plugins/moment/moment.min.js"></script>
    <script src="~/Assets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Assets/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/dist/js/adminlte.js"></script>
    @*AdminLTE dashboard demo (This is only for demo purposes)
        <script src="~/Assets/dist/js/pages/dashboard.js"></script>*@
    <!-- AdminLTE for demo purposes -->
    <script src="~/Assets/dist/js/demo.js"></script>
    <!-- Select2 -->
    <script src="~/Assets/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/Assets/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/Assets/plugins/moment/moment.min.js"></script>
    <script src="~/Assets/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Assets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- DataTables -->
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Assets/test.js"></script>
    <!-- page script -->
    <script>

        // select2bs4
        $(function () {
            $(".select2bs4").select2({
                theme: "bootstrap4",
            });
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(3000).slideUp(500);
        });
        // Kết thúc select2bs4
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
        if (!!'@ViewBag.Message') {
            let message = @Html.Raw(Json.Encode(@ViewBag.Message));
            console.log(message);
             toastr[message.ToastType](message.Message);
        }
         });
    </script>

    @RenderSection("scripts", required: false)


</body>

</html>