@model TaskManagement.Models.UsersOfDepartment

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Owner/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UsersOfDepartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateGetIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateGetIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
